<!DOCTYPE html>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 reg-box">
        <div class="col-md-12">
          <form ng-submit="appointmentsNew.create()">
            <div class="form-group">
              <h1>New Appointment</h1>
              <div id="pac-container">
                <input class="btn" type="text" placeholder="Search Location" autocomplete ng-model="appointmentsNew.appointment.location" class="form-control" lat="appointmentsNew.appointment.lat" lng="appointmentsNew.appointment.lng" choose-listing="appointmentNew.chooseListing(place)">
              </div>
            </div>
               <div class="form-group">
                <label for="date_time"></label>
                <input class="btn" type="datetime-local" placeholder="Search Location" id="date_time" name="date_time" ng-model="appointmentsNew.appointment.start">
               </div>

              <div class="form-group">
                <label for="specialist"></label>
                <input class="btn" type="text" placeholder="Specialist/Doctor (if known)" id="specialist" name="specialist" ng-model="appointmentsNew.appointment.specialist">
              </div>

              <div class="form-group">
                <label for="title"></label>
                <input class="btn" type="text" placeholder="Title" id="title" name="title" ng-model="appointmentsNew.appointment.title">
              </div>

              <div class="form-group">
                <label for="comment"></label>
                <input class="btn" rows="3" type="text" placeholder="Any comments/reminders?" id="comment" name="comment" ng-model="appointmentsNew.appointment.comment">
              </div>
              <div class="row">
                <div ng-repeat="category in appointmentsNew.categories" class="checkboxes col-sm-3">
                  <input id="{{ category.name }}" class="btn" type="checkbox" name="categories" checklist-model="appointmentsNew.appointment.category_ids" checklist-value="category.id">
                  <label for="{{ category.name }}"><img ng-src="{{ category.image }}"></label>
                </div>
              </div>
            <button class="btn">Add appointment</button>
          </form>
      </div>
  </div>
 </div>
</div>
