<!DOCTYPE html>
<h1>Past Appointments</h1>
<ul class="list-unstyled">
  <li id="appPastIndex" ng-repeat="appointment in appointmentsIndex.currentUser.appointments"  class="col-md-12" ng-if="appointmentsIndex.isPast(appointment)">
    <div class="row">
      <h3>{{ appointment.title }}</h3>
      <h4>{{ appointment.start | date : format : short }}</h4>

      <button class="btn" ui-sref="appointmentsShow({id: appointment.id})">View</button>
      <div ng-repeat="category in appointment.categories"><img class="img_index" ng-src="{{category.image}}" alt=""></div>
    </div>
  </li>
</ul>
