<!DOCTYPE html>
<div class="row">
  <div class="col-md-6">
    <div class="appointment">
      <h3>{{ appointmentsShow.appointment.location }}</h3>
      <h4>{{ appointmentsShow.appointment.date_time | date: 'fullDate'}}</h4>
      <h4>{{ appointmentsShow.appointment.date_time | date: 'shortTime'}}</h4>
      <h4>{{ appointmentsShow.appointment.specialist}}</h4>
      <h4>{{ appointmentsShow.appointment.comment}}</h4>
      <h4>{{ appointmentsShow.appointment.category_ids}}</h4>

      {{appointmentsShow.appointment.lat}}
      <google-map appointment="appointmentsShow.appointment" center="{ lat: 51.5, lng: -0.11 }"></google-map>
      <p>Created by: <strong>{{ appointmentsShow.appointment.user.username }}</strong></p>
      <button ui-sref="appointmentsEdit({id: appointmentsShow.appointment.id})" ng-if="main.isAuthenticated() && main.currentUser.id === appointmentsShow.appointment.user.id">Edit</button>
      <button ng-click="appointmentsShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === appointmentsShow.appointment.user.id">Delete</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="categories">
      <h5>Category:{{appointment.category_ids}}</h5>
    </div>
  </div>
</div>
