<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col-md-12 reg-box">
      <div class="col-sm-6">
        <h3>{{ appointmentsShow.appointment.location }}</h3>
        <br>
        <h4>{{ appointmentsShow.appointment.start | date: 'fullDate'}}</h4>
        <br>
        <h4>{{ appointmentsShow.appointment.start | date: 'shortTime'}}</h4>
        <br>
        <h4>{{ appointmentsShow.appointment.specialist}}</h4>
        <br>
        <h4>{{ appointmentsShow.appointment.comment}}</h4>
        <br>
        <a href="{{ appointmentsShow.appointment.ical }}" target="__blank">Add to ical</a>
        <br>
        <a href="{{ appointmentsShow.appointment.yahoo }}" target="__blank">Add to yahoo</a>
        <br>
        <a href="{{ appointmentsShow.appointment.google }}" target="__blank">Add to google</a>
        <br>
        <a href="{{ appointmentsShow.appointment.outlook }}" target="__blank">Add to outlook</a>
        <br>
        <br>
        <button class="btn_show" ui-sref="appointmentsEdit({id: appointmentsShow.appointment.id})" ng-if="main.isAuthenticated() && main.currentUser.id === appointmentsShow.appointment.user.id">Edit</button>
        <button class="btn_show" ng-click="appointmentsShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === appointmentsShow.appointment.user.id">Delete</button>
      </div>
      <div class="col-sm-4">
        <google-map appointment="appointmentsShow.appointment" ng-if="appointmentsShow.appointment.$resolved"></google-map>
        <a href="https://citymapper.com/directions?endcoord={{appointmentsShow.appointment.lat}}%2C{{appointmentsShow.appointment.lng}}&endname={{appointmentsShow.appointment.location}}" class="btn_show" target="_blank">Get directions</a>
      </div>
    </div>
  </div>
</div>
