<!-- <div class="row">
  <div class="col-md-6">
    <form ng-submit="auth.login()">
      <div class="form-group">
        <h1>Login.</h1>
        <label>Email</label>
        <input type="text" ng-model="auth.credentials.email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" ng-model="auth.credentials.password">
      </div>

      <button class="btn">Login</button>
    </form>
  </div>
</div> -->

<div class="bubble">
  <div class="login-form behind">
    <form ng-submit="auth.login()" class="form">
      <input ng-model="auth.credentials.email" class="input" type="text", placeholder="Email">
      <input ng-model="auth.credentials.password" class="input" type="password" placeholder="Password">
      <button class="btn" type="submit">Login</button>
    </form>
  </div>
  <div class="login-form login-title">
    <div class="header">
      <span class="text">LOGIN</span>
      <span class="loader"></span>
    </div>
  </div>
</div>
