// Import all of your scss files here
.google-map, .appointment-map {
  height: 400px;
  width: 400px;
  display: inline-block;
}

.appointment {
  border-left: 4px solid #06e0e0;
  max-width: 500px;
  padding: 0 50px;
}


//navbar

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-transform: uppercase;
  nav {
    div.navbar-header {
      background-color: #00C5DF;
      color: white;
      button {
        span {

        }
      }

      a{
        color:white;
        font-size: 16px;
        float: right;

      }
    }


    div.divnavbar-collapse {
      .navbar-toggle .icon-bar {
        background-color: #00C5DF;
        color: white;
        height: 20px;

        ul {


          li {

            a {
              float:right;
             }
            }
          }
        }
      }
    }
  }



h1 {
  font-family: 'Playfair Display', serif;
  color:  #00C5DF;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}


.home {
  background-color: #00C5DF;
  margin: 0 auto;
  h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 150px;
    text-align: center;
    vertical-align: middle;
    padding: 250px;
  }

}

.mainNewForm {
  border: 2px solid blue;
  max-width: 300px;
}


h4 {
  color: #727272;
}

h3 {
  font-family: 'Playfair Display', serif;
  color: #00C5DF;
}
//


#appIndex {
  background-color: #BDF8FF;
  height: 200px;
  display: inline;
  border-right: #BDF8FF;



}

#appIndex:nth-child(odd) {
   background-color: #e6fcff;
   height: 200px;
   display: inline;
   border-left: #e6fcff;
 }
#appPastIndex {
  background: #BDF8FF;
  height: 200px;
  display: inline;
}

#appPastIndex:nth-child(odd) {
   background: #e6fcff;
   height: 200px;
   display: inline;
 }

//buttons

.btn {
  background-color: white;
  color: #00C5DF;
  width: 80px;
  border: 3px solid #00C5DF;
  padding: 10px;
  border-radius: 10%;
  float: right;
}
.btn_show {
  background-color: white;
  color: #00C5DF;
  width: 80px;
  border: 3px solid #00C5DF;
  padding: 10px;
  border-radius: 10%;
  float: left;
  margin-top: 30%;
  margin-right: 5%;
}

.img_index {
  height: 100px;
  float: right;


}

.list_unstyled {
  display: inline;
}

.login_form {
  background-color: #00C5DF;
}



.category_index_row {
  border: 6px solid #BDF8FF;

  max-width: 800px;
  padding: 5%;

  position: absolute;
  h1 {
    font-family: 'Playfair Display', serif;
    color:  #00C5DF;
    font-size: 5em;
  }

}

// new appointment


.container {

  padding: 10%;
  max-width: 800px;
  height:auto;
  margin:0 auto;

}
.centerBlock {
  display: table;
  margin: auto;
}

form{
    border: 5px solid #e6fcff;
    margin:0 auto;
    padding: 10%;
    max-width: 700px;

    h1{
      font-size: 5em;
      margin: .8em 0;
    }
    .btn {
      float: none;
      width: 100%;
      border-radius: 0;
    }


    label {
      display: block;
    }
    .row {
      margin: 0 auto;
    }
}




//login_form

.login {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10rem 0 0 -10rem;
  width: 20rem;
  height: 20rem;
  padding: 3em;
  background: hsla(255,255%,255%,1);
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition:all 1s ease;
}
.login:hover > .header, .login.clicked > .header {
  width: 2rem;
}
.login:hover > .header > .text, .login.clicked > .header > .text {
  font-size: 1rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.login.loading > .header {
  width: 20rem;
  -webkit-transition: all 1s ease;
  transition:all 1s ease;
}
.login.loading > .header > .text {
  display: none;
}
.login.loading > .header > .loader {
  display: block;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 20rem;
  height: 20rem;
  background: #00C5DF;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.header > .text {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  text-align: center;
  line-height: 20rem;
  color: hsla(255,255%,255%,1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.form {
  margin: 0 0 0 2rem;
  padding: 0.5rem;
}

.input {
  display: block;
  width: 100%;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: none;
  border-color: #00C5DF;
  border-width: 0 0 3px 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  outline:transparent;
}
