// Import all of your scss files here
.google-map, .appointment-map {
  height: 400px;
  width: 400px;
  display: inline-block;
}

.appointment {
  border-left: 4px solid #06e0e0;
  max-width: 500px;
  padding: 0 50px;
}

strong {
  font-size: 1em;
  color: #727272;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  border-style: none;
}

h1 {
    font-size: 5em;
    margin: .67em 0;
}

.reg-box {
  border: 3px solid #00C5DF;
  padding: 5%;
  h1{
    font-size: 5rem;
  }
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #00c5df;
    background-color: #00c5df;
    a{
      color: white;
    }
}


//navbar

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-transform: uppercase;
  z-index: 1;
  background-color: #00C5DF;
  nav {
    background-color: #00C5DF;
    div.navbar-header {
      background-color: #00C5DF;
      color: white;
      z-index: fixed;
      a{
        color:white;
        font-size: 16px;
        float: right;
      }
    }


    div.divnavbar-collapse {
      .navbar-toggle .icon-bar {
        background-color: #00C5DF;
        color: white;
        height: 20px;

        ul {


          li {

            a {

             }
            }
          }
        }
      }
    }
  }

a{
  color: #00C5DF;
}

p{
  color: #00C5DF;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}


main {
  padding-top: 75px;
}

h1 {
  font-family: 'Playfair Display', serif;
  color:  #00C5DF;
  text-align: center;
  vertical-align: middle;
  font-size: 5em;
}


.home {
  background-color: #00C5DF;
  margin: 0 auto;
  h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 150px;
    text-align: center;
    vertical-align: middle;
    padding: 250px;
  }

}


h1 {
  font-size: 5em;
}

h4 {
  color: #727272;
}

h3 {
  font-family: 'Playfair Display', serif;
  color: #00C5DF;
}
//


#appIndex {
  background-color: #BDF8FF;
  height: 200px;
  // display: inline;
  border-right: #BDF8FF;
  h3 {
    display: inline-block;
  }
}

#appIndex:nth-child(odd) {
   background-color: #e6fcff;
   height: 200px;
  //  display: inline;
   border-left: #e6fcff;
 }
#appPastIndex {
  background: #BDF8FF;
  height: 200px;
  display: inline;
}

#appPastIndex:nth-child(odd) {
   background: #e6fcff;
   height: 200px;
   display: inline;
 }





//buttons

.btn {
  background-color: white;
  color: #00C5DF;
  width: 80px;
  border: 3px solid #00C5DF;
  padding: 10px;
  border-radius: 10%;
  float: right;
  margin-top: 20px;
}
.btn_show {
  background-color: white;
  color: #00C5DF;

  border: 3px solid #00C5DF;
  padding: 10px;
  border-radius: 10%;
  float: left;
  margin-top: 6%;
  margin-right: 5%;
}

.img_index {
  height: 70px;
  float: right;
  padding-top: 20px;
  padding-left: 5px;
}

.categories {
  li {
    cursor: pointer;
    position: relative;
    &:after {
      content: "";
      background-color: #00c5df;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 35px;
      left: 30px;
      bottom: 15px;
      right: 30px;
      opacity: 0;
      transition: all 0.3s ease;
      pointer-events: none;
    }
    p {
      position: absolute;
      top: calc(50% + 10px);
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 100;
      opacity: 0;
      transition: all 0.3s ease;
      width: 90%;
      text-align: center;
      font-family: 'Playfair Display', serif;
      text-transform: capitalize;
      font-size: 16px;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
      p {
        opacity: 1;
      }
    }
  }
  img {
    margin-top: 20px;
    width: 100%;
  }
}

.category_index_row {
  border: 6px solid #BDF8FF;
  max-width: 800px;
  padding: 5%;
  position: absolute;

   h1 {
    font-family: 'Playfair Display', serif;
    color:  #00C5DF;
    font-size: 5em;
   }
}




// new appointment


    h1{
      font-size: 5em;
      margin: .8em 0;
    }
    .btn {
      float: none;
      width: 100%;
      border-radius: 0;
    }







//login_form

.login-form {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10rem 0 0 -10rem;
  width: 20rem;
  height: 20rem;
  padding: 3em;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition:all 1s ease;
}
//
// .login-form > .header, .login-form.clicked > .header {
//   width: 2rem;
// }
//
// .login-form > .header > .text, .login.clicked > .header > .text {
//   font-size: 1rem;
//   -webkit-transform: rotate(-90deg);
//   transform: rotate(-90deg);
// }

.bubble {
  .behind form {
    opacity: 0;
  }
  &:hover {
    .login-form {
      margin: -10rem 0 0 -20rem;
      &.behind {
        width: 40rem;
        z-index: 40;

        form {
          transition: opacity 0.5s cubic-bezier(0.8, 0, 1, 0);
          opacity: 1;
        }
      }
    }

    .login-form > .header, .login.clicked > .header {
      width: 2rem;
    }

    .login-form > .header > .text, .login.clicked > .header > .text {
      font-size: 1rem;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
}

.login-form.loading > .header {
  width: 20rem;
  -webkit-transition: all 1s ease;
  transition:all 1s ease;
}
.login-form.loading > .header > .text {
  display: none;
}
.login-form.loading > .header > .loader {
  display: block;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 20rem;
  height: 20rem;
  background: #00C5DF;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.header > .text {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  text-align: center;
  line-height: 20rem;
  color: hsla(255,255%,255%,1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.form {
  margin: 0 0 0 2rem;
  padding: 0.5rem;
}

.input {
  display: block;
  width: 100%;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: none;
  border-color: #00C5DF;
  border-width: 0 0 3px 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  outline:transparent;
}

.checkboxes {
  margin-top: 20px;
  margin-bottom: 20px;
  label {
    border-radius: 50%;
    padding: 10px;
  }
  input[type='checkbox'] {
    display: none;
    &:checked ~ label {
      background-color: #BDF8FF;
    }
  }
}
