// Import all of your scss files here
.google-map, .appointment-map {
  height: 400px;
  width: 400px;
  display: inline-block;
}

.appointment {
  border-left: 4px solid #06e0e0;
  max-width: 500px;
  padding: 0 50px;
}


//navbar

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #00C5DF;
  color: white;
  height: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

a {
  color: #00C5DF;
  font-size: 16px;

}

h1 {
  font-family: 'Playfair Display', serif;
  color:  #00C5DF;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}


.home {
  background-color: #00C5DF;
  margin: 0 auto;
  h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 150px;
    text-align: center;
    vertical-align: middle;
    padding: 250px;
  }

}

.mainNewForm {
  border: 2px solid blue;
  max-width: 300px;
}




.col-sm-6 {
    width: 50%;
    border-left: 4px solid #BDF8FF;
    padding-left: 5%;
}


h4 {
  color: #727272;
}

h3 {
  font-family: 'Playfair Display', serif;
  color: #00C5DF;
}
//


#appIndex {
  background-color: #BDF8FF;
  height: 200px;
  display: inline;
  border-right: #BDF8FF;



}

#appIndex:nth-child(odd) {
   background-color: #e6fcff;
   height: 200px;
   display: inline;
   border-left: #e6fcff;
 }
#appPastIndex {
  background: #BDF8FF;
  height: 200px;
  display: inline;
}

#appPastIndex:nth-child(odd) {
   background: #e6fcff;
   height: 200px;
   display: inline;
 }

//buttons

.btn {
  background-color: white;
  color: #00C5DF;
  width: 80px;
  border: 3px solid #00C5DF;
  padding: 10px;
  border-radius: 10%;
  float: right;
}
.btn_show {
  background-color: white;
  color: #00C5DF;
  width: 80px;
  border: 3px solid #00C5DF;
  padding: 10px;
  border-radius: 10%;
  float: left;
  margin-top: 30%;
  margin-right: 5%;
}

.img_index {
  height: 100px;
  float: right;


}

.list_unstyled {
  display: inline;
}

.login_form {
  background-color: #00C5DF;
}



.category_index_row {
  border: 6px solid #BDF8FF;
  width: 140%;
  margin: 0 auto;
  position: relative;

}

// new appointment


.container {

  padding: 10%;
  max-width: 800px;
  height:auto;
  margin:0 auto;

}
.centerBlock {
  display: table;
  margin: auto;
}

form{
    border: 5px solid #e6fcff;
    margin:0 auto;
    padding: 10%;
    max-width: 700px;

    h1{
      font-size: 5em;
      margin: .8em 0;
    }
    .btn {
      float: none;
      width: 100%;
      border-radius: 0;
    }


    label {
      display: block;
    }
    .row {
      margin: 0 auto;
    }
}
